.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 15px;
}

.info-label {
    font-weight: 500;
    margin-right: 15px;
    width: 150px;
    font-size: 16px;
}

.info-value>p {
    padding-left: 16px;
}

.custom-mat-table .custom-mat-cell{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}