<div class="loading-container" *ngIf="isLoading">
    <div class="mat-bg-primary position-absolute rounded-circle app-icon-animation"><img class="app-icon bg-white"></div>
    <div class="loading-spinner"></div>
</div>

<form [formGroup]="form">

    <mat-form-field appearance="fill">
        <mat-label>Registration Mode <mat-icon class="icon-mini" matIconPosition="right" fontIcon="info"
            matTooltip="Specifies how single settings file ( separate setting files should be configured its own setting or setting class ) can be registered and resolved within the service. Supports resolving via configuration options or as a singleton service."></mat-icon></mat-label>
        <mat-select formControlName="registrationMode" (selectionChange)="onSelectionChange($event)" #selectRef>
            <mat-option class="custom-option" [value]="1">
                <span>Configure</span>
                <span class="spacer"></span>
                <button color="accent" mat-icon-button matTooltipPosition="left"
                    matTooltip="Settings can be resolved through configuration options interfaces, such as IOptions<T>, IOptionsSnapshot<T> and IOptionsMonitor<T>.">
                    <mat-icon matIconPosition="right" fontIcon="info"></mat-icon>
                </button>
            </mat-option>
            <mat-option class="custom-option" [value]="2">
                <span>Singleton</span>
                <span class="spacer"></span>
                <button color="accent" mat-icon-button matTooltipPosition="left"
                    matTooltip="Settings can be resolved directly through its own class as a singleton instance.">
                    <mat-icon matIconPosition="right" fontIcon="info"></mat-icon>
                </button>
            </mat-option>
            <mat-option class="custom-option" [value]="3">
                <span>Both</span>
                <span class="spacer"></span>
                <button color="accent" mat-icon-button matTooltipPosition="left"
                    matTooltip="Settings can be resolved both through singleton instances and through configuration options interfaces.">
                    <mat-icon matIconPosition="right" fontIcon="info"></mat-icon>
                </button>
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="d-flex px-3">
        <div class="mb-2 mr-3 d-flex align-items-center">
            <span class="field-label-text">Store In Separate File (global)</span>
            <mat-icon class="icon-mini" matIconPosition="right" fontIcon="info"
                [matTooltip]="'Indicates whether the settings should be stored in a separate file \'settings-generated.*.json\'. If not, it will be stored in the default \'settings-generated.json\' file.'"></mat-icon>
            <mat-slide-toggle labelPosition="before" formControlName="storeInSeparateFile"
                (change)="onToggleChange($event, 'storeInSeparateFile')"></mat-slide-toggle>
        </div>
        <div class="mb-2 d-flex align-items-center">
            <span class="field-label-text">Ignore On File Change (global)</span>
            <mat-icon class="icon-mini" matIconPosition="right" fontIcon="info"
                matTooltip="Indicates whether changes to the file should be ignored when the file is modified."></mat-icon>
            <mat-slide-toggle labelPosition="before" formControlName="ignoreOnFileChange"
                (change)="onToggleChange($event, 'ignoreOnFileChange')"></mat-slide-toggle>
        </div>
    </div>

    <mat-accordion multi="true">
        <mat-expansion-panel expanded="false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Consumer Configuration
                <mat-icon class="icon-mini" matIconPosition="right" fontIcon="info" matTooltip="It is only used when the instance is running in consumer mode."></mat-icon>
            </mat-panel-title>
            <mat-panel-description>
                <span class="spacer"></span>
                <button color="primary" mat-icon-button class="icon-mini" matTooltip="Save" (click)="saveSettings($event, 'consumer')">
                    <mat-icon>save</mat-icon>
                </button>
            </mat-panel-description>
        </mat-expansion-panel-header>    

        <mat-accordion multi="true" formGroupName="consumer">
            <mat-expansion-panel expanded="false" formGroupName="pollingSettingsWorker">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Polling Settings Worker
                    </mat-panel-title>
                    <mat-panel-description>
                        <span class="spacer"></span>
                        <mat-icon class="icon-mini" matIconPosition="right" fontIcon="info"
                        matTooltip="Represents a worker that handles polling for the latest settings within a specified period."></mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="mb-2 mr-3 d-flex align-items-center">
                    <span class="field-label-text">Is Active</span>
                    <mat-icon class="icon-mini" matIconPosition="right" fontIcon="info"
                        matTooltip="Indicates whether anonymous access is allowed. Changes require a restart."></mat-icon>
                    <mat-slide-toggle labelPosition="before" formControlName="isActive"></mat-slide-toggle>
                </div>
                <mat-form-field>
                    <mat-label>Starts In <mat-icon class="icon-mini" matIconPosition="right" fontIcon="info"
                        matTooltip="The time span to wait before starting the polling."></mat-icon></mat-label>
                    <input matInput formControlName="startsIn">
                    <mat-hint>Format: HH:mm:ss</mat-hint>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Period <mat-icon class="icon-mini" matIconPosition="right" fontIcon="info"
                        matTooltip="The time span between polling period."></mat-icon></mat-label>
                    <input matInput formControlName="period">
                    <mat-hint>Format: HH:mm:ss</mat-hint>
                </mat-form-field>

            </mat-expansion-panel>

            <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Others
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-form-field>
                    <mat-label>Request Encodings</mat-label>
                    <mat-select formControlName="requestEncodings" multiple>
                        <mat-option [value]="0">
                            <span>None</span>
                        </mat-option>
                        <mat-option [value]="1">
                            <span>Snappy</span>
                        </mat-option>
                        <mat-option [value]="2">
                            <span>Deflate</span>
                        </mat-option>
                        <mat-option [value]="3">
                            <span>Gzip</span>
                        </mat-option>
                        <mat-option [value]="4">
                            <span>Zstd</span>
                        </mat-option>
                        <mat-option [value]="5">
                            <span>Brotli</span>
                        </mat-option>
                    </mat-select>
                    <mat-hint>The consumer can request its desired encodings, but the ultimate decision is made by the provider.</mat-hint>
                </mat-form-field>

                <div class="mb-2 mr-3 d-flex align-items-center">
                    <span class="field-label-text">Is Redis Active</span>
                    <mat-icon class="icon-mini" matIconPosition="right" fontIcon="info"
                        matTooltip="The flag indicates whether Redis is active for the consumer configuration. Redis connection details sent by the provider."></mat-icon>
                    <mat-slide-toggle labelPosition="before" formControlName="isRedisActive"></mat-slide-toggle>
                </div>
                
            </mat-expansion-panel>

        </mat-accordion>
        </mat-expansion-panel>

        <mat-expansion-panel expanded="false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Provider Configuration
                    <mat-icon class="icon-mini" matIconPosition="right" fontIcon="info" matTooltip="It is only used when the instance is running in provider mode."></mat-icon>
                </mat-panel-title>
                <mat-panel-description>
                    <span class="spacer"></span>
                    <button color="primary" mat-icon-button class="icon-mini" matTooltip="Save" (click)="saveSettings($event, 'provider')">
                        <mat-icon>save</mat-icon>
                    </button>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-accordion multi="true" formGroupName="provider">
                <mat-expansion-panel expanded="false" formGroupName="redis">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Redis
                        </mat-panel-title>
                       
                    </mat-expansion-panel-header>
                    <div class="mb-2 mr-3 d-flex align-items-center">
                        <span class="field-label-text">Is Active</span>
                        <mat-slide-toggle labelPosition="before" formControlName="isActive"></mat-slide-toggle>
                    </div>
                    <mat-form-field>
                        <mat-label>Configuration <mat-icon class="icon-mini" matIconPosition="right" fontIcon="info"
                            matTooltip="The configuration string for Redis."></mat-icon></mat-label>
                        <input matInput formControlName="configuration">
                        <mat-hint>e.g. localhost:6379,password=******,abortConnect=false</mat-hint>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Channel <mat-icon class="icon-mini" matIconPosition="right" fontIcon="info"
                            matTooltip="The channel used to send or receive messages related to settings such as notifiying data change."></mat-icon></mat-label>
                        <input matInput formControlName="channel">
                    </mat-form-field>
                </mat-expansion-panel>
                <mat-expansion-panel expanded="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Others
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-form-field>
                        <mat-label>Compression Type <mat-icon class="icon-mini" matIconPosition="right" fontIcon="info"
                            matTooltip="Defines which compression type is applied when storing the setting data."></mat-icon></mat-label>
                        <mat-select formControlName="compressionType">
                            <mat-option class="custom-option" [value]="0">
                                <span>None</span>
                            </mat-option>
                            <mat-option class="custom-option" [value]="1">
                                <span>Snappy</span>
                            </mat-option>
                            <mat-option class="custom-option" [value]="2">
                                <span>Deflate</span>
                            </mat-option>
                            <mat-option class="custom-option" [value]="3">
                                <span>Gzip</span>
                            </mat-option>
                            <mat-option class="custom-option" [value]="4">
                                <span>Zstd</span>
                            </mat-option>
                            <mat-option class="custom-option" [value]="5">
                                <span>Brotli</span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Compression Level <mat-icon class="icon-mini" matIconPosition="right" fontIcon="info"
                            matTooltip="Defines which compression level is applied when storing the setting data."></mat-icon></mat-label>
                        <mat-select formControlName="compressionLevel">
                            <mat-option class="custom-option" [value]="0">
                                <span>Optimal</span>
                            </mat-option>
                            <mat-option class="custom-option" [value]="1">
                                <span>Fastest</span>
                            </mat-option>
                            <mat-option class="custom-option" [value]="2">
                                <span>NoCompression</span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-expansion-panel>

            </mat-accordion>
        </mat-expansion-panel>

        <mat-expansion-panel expanded="false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Controller Configuration
                    <mat-icon class="icon-mini" matIconPosition="right" fontIcon="info" matTooltip="Configuration options for the settings controller, including route, authorization and Api visibility."></mat-icon>
                </mat-panel-title>
                <mat-panel-description>
                    <span class="spacer"></span>
                    <button color="primary" mat-icon-button class="icon-mini" matTooltip="Save" (click)="saveSettings($event, 'controller')">
                        <mat-icon>save</mat-icon>
                    </button>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-accordion multi="true" formGroupName="controller">
                <mat-expansion-panel expanded="false" formGroupName="openIdConnect">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            OpenIdConnect
                        </mat-panel-title>
                       
                    </mat-expansion-panel-header>
               
                    <mat-form-field>
                        <mat-label>Authority <mat-icon class="icon-mini" matIconPosition="right" fontIcon="info"
                            matTooltip="The authority URL for the OpenIdConnect provider. The value is trimmed of any trailing slashes."></mat-icon></mat-label>
                        <input matInput formControlName="authority">
                        <mat-hint>e.g. https://idm.opensettings.net</mat-hint>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>ClientId <mat-icon class="icon-mini" matIconPosition="right" fontIcon="info"
                            matTooltip="The client id used to authenticate with the OpenIdConnect provider."></mat-icon></mat-label>
                        <input matInput formControlName="clientId">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>ClientSecret <mat-icon class="icon-mini" matIconPosition="right" fontIcon="info"
                            matTooltip="The client secret used to authenticate with the OpenIdConnect provider.."></mat-icon></mat-label>
                        <input matInput formControlName="clientSecret" autocomplete="off">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>SignedOutRedirectUri <mat-icon class="icon-mini" matIconPosition="right" fontIcon="info"
                            matTooltip="The URI to redirect to after the user is signed out. The default value is 'null'. When null, empty or whitespace the default redirect flow is used: - Provider → Spa, Consumer → Spa."></mat-icon></mat-label>
                        <input matInput formControlName="signedOutRedirectUri">
                    </mat-form-field>
                    <div class="mb-2 mr-3 d-flex align-items-center">
                        <span class="field-label-text">AllowOfflineAccess</span>
                        <mat-icon class="icon-mini" matIconPosition="right" fontIcon="info"
                        matTooltip="Indicates whether offline access is allowed. When enabled, offline access tokens can be obtained. The default value is disabled."></mat-icon>
                        <mat-slide-toggle labelPosition="before" formControlName="allowOfflineAccess"></mat-slide-toggle>
                    </div>
                    <div class="mb-2 mr-3 d-flex align-items-center">
                        <span class="field-label-text">Is Active</span>
                        <mat-icon class="icon-mini" matIconPosition="right" fontIcon="info"
                        matTooltip="Indicates whether the OpenIdConnect configuration is active. The default value is disabled."></mat-icon>
                        <mat-slide-toggle labelPosition="before" formControlName="isActive"></mat-slide-toggle>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel expanded="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Others
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-form-field>
                        <mat-label>Route <mat-icon class="icon-mini" matIconPosition="right" fontIcon="info"
                            matTooltip="The base route for the service controller's endpoints. The default is 'api/settings'. Trailing and leading slashes are trimmed if present."></mat-icon></mat-label>
                        <input matInput formControlName="route">
                        <mat-hint>e.g. api/settings</mat-hint>
                    </mat-form-field>

                    <div class="mb-2 mr-3 d-flex align-items-center">
                        <span class="field-label-text">AllowFromExploring</span>
                        <mat-icon class="icon-mini" matIconPosition="right" fontIcon="info"
                            matTooltip="Specifies whether the open settings controller's endpoints should be exposed in Api documentation (e.g., for Swagger or other Api explorers). The default is disabled."></mat-icon>
                        <mat-slide-toggle labelPosition="before" formControlName="allowFromExploring"></mat-slide-toggle>
                    </div>

                    <div class="mb-2 mr-3 d-flex align-items-center">
                        <span class="field-label-text">RequiresAuthentication</span>
                        <mat-icon class="icon-mini" matIconPosition="right" fontIcon="info"
                            matTooltip="Indicates whether the controller requires authentication for access. When enabled, authentication is enforced. When disabled, the controller is accessible without authentication unless the service type is Consumer, in which case the provider's authorization settings take precedence, and authentication may still be required. The default is disabled."></mat-icon>
                        <mat-slide-toggle labelPosition="before" formControlName="requiresAuthentication"></mat-slide-toggle>
                    </div>
                </mat-expansion-panel>

            </mat-accordion>
        </mat-expansion-panel>

        <mat-expansion-panel expanded="false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Spa Configuration
                    <mat-icon class="icon-mini" matIconPosition="right" fontIcon="info" matTooltip="Represents the configuration options for the open settings Spa page."></mat-icon>
                </mat-panel-title>
                <mat-panel-description>
                    <span class="spacer"></span>
                    <button color="primary" mat-icon-button class="icon-mini" matTooltip="Save" (click)="saveSettings($event, 'spa')">
                        <mat-icon>save</mat-icon>
                    </button>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-accordion multi="true" formGroupName="spa">
                <mat-expansion-panel expanded="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Others
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-form-field>
                        <mat-label>RoutePrefix <mat-icon class="icon-mini" matIconPosition="right" fontIcon="info"
                            matTooltip="Specifies the prefix used to access the open settings Spa page. With this prefix, the open settings Spa page can be accessed through the defined route. The default value is 'settings'."></mat-icon></mat-label>
                        <input matInput formControlName="routePrefix">
                        <mat-hint>e.g. settings</mat-hint>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>DocumentTitle <mat-icon class="icon-mini" matIconPosition="right" fontIcon="info"
                            matTooltip="The title of the document for the open settings page. This title is used in the HTML document's title element and will be displayed in the browser's title bar. The default value is 'OpenSettings Spa'."></mat-icon></mat-label>
                        <input matInput formControlName="documentTitle">
                        <mat-hint>e.g. OpenSettings Spa</mat-hint>
                    </mat-form-field>

                    <div class="mb-2 mr-3 d-flex align-items-center">
                        <span class="field-label-text">IsActive</span>
                        <mat-icon class="icon-mini" matIconPosition="right" fontIcon="info"
                            matTooltip="Indicates whether the open settings Spa (Single Page Application) is enabled. When enabled, does not guarantee that the Spa will be accessible. Make sure to register AddOpenSettingsController(...) and app.UseOpenSettings(...) after app.UseRouting() and before app.UseEndpoints(). The default value is enabled."></mat-icon>
                        <mat-slide-toggle labelPosition="before" formControlName="isActive"></mat-slide-toggle>
                    </div>
                </mat-expansion-panel>

            </mat-accordion>
        </mat-expansion-panel>

    </mat-accordion>

</form>